.hero {
  .hero__wrapper {
    background: url(../../assets/pexels-leah-kelley-3935702\ \(1\)\ 1.png);
    height: 700px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 20px;
    gap: 20px;
    p:nth-child(1) {
      font-size: 96px;
      color: #23262f;
    }
    p:nth-child(2) {
      font-size: 24px;
      color: #23262f;
    }
    button {
      background: #3b71fe;
      height: 40px;
      width: 182px;
      border-radius: 20px;
      border: none;
      color: #fcfcfd;
      transition: 0.5s;
      &:hover {
        cursor: pointer;
      }
      &:active {
        opacity: 0.8;
        transform: scale(0.9);
      }
    }
  }
  .hero__stats {
    width: 100%;
    border-radius: 20px;
    margin-top: -150px;
    height: 307px;
    background: #f2f3f3;
    padding: 40px;
    .stats__wrapper {
      display: flex;
      flex-direction: column;
      gap: 30px;
      .stats__context {
        display: flex;
        gap: 48px;
        color: #777e90;
        p:hover {
          cursor: pointer;
          color: #23262f;
        }
        p:active {
          transform: scale(0.9);
        }
      }
      .stats__btn {
        button:nth-child(1) {
          border: none;
          height: 40px;
          background: transparent;
          border: 2px solid #e6e8ec;
          border-radius: 20px;
          color: #23262f;
          padding: 10px 16px;
          font-weight: 900;
          transition: 0.5s;
          &:hover {
            cursor: pointer;
            background: #23262f;
            color: #fff;
          }
          &:active {
            transform: scale(0.9);
          }
        }
        button:nth-child(2) {
          border: none;
          height: 40px;
          background: transparent;
          border: 2px solid #e6e8ec;
          border-radius: 20px;
          color: #23262f;
          padding: 10px 16px;
          font-weight: 900;
          transition: 0.5s;
          &:hover {
            cursor: pointer;
            background: #23262f;
            color: #fff;
          }
          &:active {
            transform: scale(0.9);
          }
        }
      }
      .stats__day {
        display: flex;
        gap: 30px;
        .stats__card {
          width: 30%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          .stats__logo{
            img{
              &:hover{
                cursor: pointer;
              }
            }
          }
          .first__title {
            display: flex;
            align-items: center;
            gap: 4px;
            p {
              font-size: 24px;
              color: #23262f;
            }
          }
          .last__title {
            p {
              color: #777e90;
              padding-left: 37px;
            }
            span {
              display: none;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 1124px) {
  .hero {
    .hero__stats {
      .stats__wrapper {
        .stats__day {
          display: flex;
          justify-content: space-between;
          .stats__card:nth-child(1) {
            .first__title {
              p:nth-child(1) {
                font-size: 48px;
              }
            }
          }
          .stats__card:nth-child(2) {
            display: none;
          }
        }
      }
    }
  }
}
@media (max-width: 802px) {
  .hero {
    .hero__stats {
      padding: 20px;
      .stats__wrapper {
        .stats__btn {
          display: none;
        }
        .stats__day {
          gap: 100px;
          display: flex;
          justify-content: space-between;
          .stats__card:nth-child(3) {
            display: none;
          }
        }
      }
    }
  }
}
@media (max-width: 472px){
  .hero{
    .hero__wrapper{
      p:nth-child(1){
        font-size: 70px;
      }
    }
  }
}
@media (max-width: 460px) {
  .hero {
    .hero__stats {
      padding: 20px;
      .stats__wrapper {
        .stats__day {
          .stats__card {
            display: flex;
            align-items: center;
            flex-direction: row;
            gap: 10px;
            .first__title {
              p {
                display: none;
              }
            }
            .last__title {
              p {
                display: none;
              }
              span {
                display: block;
                color: #777e90;
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 420px) {
  .hero {
    .hero__stats {
      padding: 20px;
      .stats__wrapper {
        .stats__context{
          p{font-size: 12px;}
        }
      }
    }
  }
}

@media (max-width: 372px){
  .hero{
    .hero__wrapper{
      p:nth-child(1){
        font-size: 43px;
      }
      p:nth-child(2){
        text-align: center;
        font-size: 24px;
      }
    }
  }
}