.popular__wrapper {
  width: 100%;
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  gap: 48px;
  .popular__context {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
  .popular__card {
    display: flex;
    flex-direction: column;
    gap: 10px;
    .card__img {
      width: 100%;
    }
  }
  .carusel {
    display: flex;
    gap: 32px;
    overflow: auto;
  }
  .popular__btn {
    width: 100%;
    .btn {
      width: 162px;
      border: 2px solid #e6e8ec;
      border-radius: 20px;
      background: transparent;
      height: 48px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: 700;
      transition: .5s;
      &:hover{
        cursor: pointer;
      }
      &:active{
        background: darkgrey;
        color: #e6e8ec;
        transform: scale(.9);
      }
    }
  }
}
